<div class="card shadow-sm">
    <h5 class="card-header">Controls</h5>
    <div class="card-body">
        <button type="button" class="btn btn-success btn-block start-poker">Start Poker</button>
        <button type="button" class="btn btn-info btn-block reveal-poker">Reveal Cards</button>
        {{!-- <button type="button" class="btn btn-outline-danger btn-block stop-poker">Stop</button>
            <button type="button" class="btn btn-outline-danger btn-block resume-poker">Resume</button> --}}
        <button type="button" class="btn btn-warning btn-block reset-poker">Restart</button>
    </div>
</div>