
<a data-toggle="collapse" href="#collapseMembers" role="button" aria-expanded="false" aria-controls="collapseMembers">
    <h6 class="card-subtitle mb-2 text-muted">Room members <span class="badge badge-pill badge-primary member-count">0</span></h6>
</a>
<div class="collapse" id="collapseMembers">
    <div class="room-members list-group"></div>
</div>