<nav class="navbar">
    <a class="navbar-brand" href="/">{{title}}</a>

    <form class="form-inline float-right">
        <button class="btn btn-outline-danger" type="button">Leave Room</button>
    </form>
</nav>