<!doctype html>
<html>

{{> header}}

<body class="welcome-body text-center">
    <div class="card shadow welcome-box">
        <h1 class="h3 mb-3 font-weight-normal">Planning Poker</h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg" id="user-name" placeholder="User name"
                aria-label="username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-lg btn-outline-primary join-room-btn" type="submit" id="button-addon2">Join</button>
            </div>
        </div>
        <div class="mb-3">
            or
        </div>
        <div class="input-group mb-2">
            <input type="text" class="form-control form-control-lg" id="room-name" placeholder="Room name"
                aria-label="username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-lg btn-outline-primary create-room-btn" type="submit" id="button-addon2">Create</button>
            </div>
        </div>
        <div class="mb-2">
            <small>If you do not enter a user or room name one will be randomly generated for you.</small>
        </div>
        <div>
            <p class="text-muted">&copy; 2020</p>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script>
        $(function () {
            $(".join-room-btn").on("click", function () {
                const userName = $('#user-name').val();
                localStorage.setItem('pp-username', userName);
                window.location.href = "/rooms";
            });
            $(".create-room-btn").on("click", function () {
                const roomID = randomstring();
                const userName = $('#user-name').val();
                const roomName = $('#room-name').val();
                localStorage.setItem(roomID + 'room', roomName);
                localStorage.setItem('pp-username', userName);
                window.location.href = "/room#" + roomID;
            });
        });
    </script>
</body>

</html>