<!doctype html>
<html>

{{> header}}

<body class="welcome-body text-center">
    <div class="welcome-box">
        <h1 class="h3 mb-3 font-weight-normal">Planning Poker</h1>
        {{!-- <form id="create-room-form" class="mb-2" action="" method="post">
            
            <div class="form-group row">
                <label for="room-name" class="col-sm-2 col-form-label">Room</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="room-name" placeholder="Room name">
                </div>
            </div>

            <div class="form-group row">
                <label for="room-name" class="col-sm-2 col-form-label">User</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="room-name" placeholder="User name">
                </div>
            </div>
        </form> --}}
        <button class="btn btn-lg btn-primary btn-block create-room-btn">Create Room</button>
        <div class="mt-2 mb-2">
            <hr class="d-inline"><p class="d-inline">or</p><hr class="d-inline">
        </div>
        <a href="/rooms" class="btn btn-lg btn-primary btn-block">Join Room</a>
        <p class="mt-3 text-muted">&copy; 2020</p>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script>
        $(function () {
            $(".create-room-btn").on("click", function () {
                const roomID = randomstring();
                window.location.href = "/room#" + roomID;
            });
        });
    </script>
</body>

</html>