<h1>Rooms available</h1>
<div id="rooms" class="list-group mb-3"></div>
<div class="text-center">
    <button class="btn btn-lg btn-primary create-room-btn col-sm-3">Create Room</button>
</div>
{{> scripts}}
<script>
    $(function () {
        var socket = io();

        socket.emit('getRoomList');

        socket.on('updateRoomList', function (rooms) {
            $("#rooms").empty();
            const roomsAvailable = Object.keys(rooms).length;
            if (roomsAvailable > 0) {
                $.each(rooms, function (i, val) {
                    let currentUsers = Object.keys(val.users).length;
                    let string = '<a href="/room#' + i + '" class="list-group-item list-group-item-action"><strong>' + val['name'] + '</strong> <span class="badge badge-pill badge-primary">' + currentUsers + '</span></a>';
                    $("#rooms").append(string);
                });
            } else {
                let userString = '';
                if (localStorage.getItem('pp-username') !== null && localStorage.getItem('pp-username') != '') {
                    userString = ' <strong>' + localStorage['pp-username'] + '</strong> ';
                }
                let string = '<li class="list-group-item list-group-item-warning">Unfortunately ' + userString + 'there are no rooms available. Would you like to create your own room?</li>';
                $("#rooms").append(string);
            }
        });

        $(".create-room-btn").on("click", function () {
            const roomID = randomstring();
            window.location.href = "/room#" + roomID;
        });
    });
</script>